<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    clearday blog
                </p>
            </div>
        </div>
    </div>
</footer>


{% if page.title == 'Archive' %}
<!-- jquery.tagcloud.js -->
<script>
    async('{{ "/js/jquery.tagcloud.js" | prepend: site.baseurl }}', function () {
        $.fn.tagcloud.defaults = {
            //size: {start: 1, end: 1, unit: 'em'},
            color: { start: '#bbbbee', end: '#2f93b4' },
        };
        $('#tag_cloud a').tagcloud();
    })
</script>
<script src='{{ "/js/archive.js " | prepend: site.baseurl }}'></script>
{% endif %}




